<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 th:text="${model.name}">
    Pub Templet
</h1>
<form action="#" th:action="@{/page}" method="GET">

    <p th:text="${model.address}">placeholder </p>

    <ul>
        <li th:each="seat: ${model.time}">
            <p th:text="|${#dates.format(seat.dateTime, 'HH:mm dd-MM-yyyy')} ${seat.space}|">placeholder </p>

        </li>
    </ul>

</form>
<form action="#" th:action="@{/saveUpdate}" method="POST">

    <input type="hidden" data-th-value="${model.id}" name="pubId"/>


    <ul>
        <li th:each="button : ${model.buttonList}">
            <input type="radio" th:value="${button.key}" th:field="*{seat.space}"/>
            <label th:text="${button.value}">placeholder</label>

        </li>

    </ul>


    <input type="submit" value="wyslij">

</form>
</body>
</html>